:root {
    --palmsens-dark-blue: #00387B;
    --palmsens-classic-blue: #2D9DD6;
    --palmsens-secondary-background: #EBF3FA;
    --palmsens-secondary-cta: #A28D5B;
    --palmsens-footer-background: #0f243c;
}

.navbar {
    background: var(--palmsens-dark-blue);
    border-bottom: 5px solid;
    border-bottom-color: var(--palmsens-classic-blue);
}

.navbar img {
    height: 48px;
}

.navbar-dropdown a.navbar-item:hover {
  background: var(--palmsens-secondary-background);
  color: black;
}

@media screen and (min-width: 1024px) {
    .navbar-end > a.navbar-item:hover,
    .navbar-end .navbar-link:hover,
    .navbar-end .navbar-item.has-dropdown:hover .navbar-link {
    background: var(--palmsens-dark-blue);
    }
}

@media screen and (max-width: 1023.5px) {
    .navbar-menu a.navbar-item:hover,
    .navbar-menu .navbar-link:hover {
        background: var(--palmsens-secondary-background);
    }
}

.nav-menu {
    background: var(--palmsens-secondary-background);
}

.toolbar {
    background: var(--palmsens-secondary-background);
}

.doc h1 {
     color: var(--palmsens-classic-blue);
}

.context {
    background: var(--palmsens-secondary-background);
}

.title a {
     color: var(--palmsens-dark-blue);
}

.nav-panel-explore .components {
    background: var(--palmsens-secondary-background);
}

.nav-panel-explore .component .is-current a {
  background: var(--palmsens-classic-blue);
  color: white;
}

.nav-panel-explore:not(:first-child) .context {
  color: var(--palmsens-dark-blue);
  font-weight: bold;
}

footer.footer {
    color: white;
    background: var(--palmsens-footer-background);
    border-top: 5px solid;
    border-color: var(--palmsens-classic-blue);
}

.footer a {
  color: white;
  text-decoration: underline;
}
