<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PalmSens.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PalmSens.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PalmSens.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PalmSens.Core.Properties.Settings>
            <setting name="IgnoreFirstThreePointsCurve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PS2ADCOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PS2ADCFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PS2DACOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PS2DACFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nMUXchannels" serializeAs="String">
                <value>0</value>
            </setting>
        </PalmSens.Core.Properties.Settings>
        <PalmSens.Properties.Settings>
            <setting name="AuxInputTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True|Aux. input|No conversion 0-3V|0|1|V|Volt|E</string>
                        <string>True|Pt1000|Temperature sensor|-275|189.1|°C|Temp|T</string>
                        <string>True|PSDEA -5 to +5V|Differential Electrometer Amplifier -5 to +5V bipolar input|-5|3.333|V|Volt|E</string>
                        <string>True|PSDEA -10 to 10V|Differential Electrometer Amplifier -10V to +10V bipolar input|-10|6.667|V|Volt|E</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AuxInputTypeSelected" serializeAs="String">
                <value>True|Aux. input|No conversion 0-3V|0|1|V|Volt|E</value>
            </setting>
            <setting name="IgnoreFirstThreePointsCurve" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PS2ADCOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PS2ADCFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PS2DACOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PS2DACFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nMUXchannels" serializeAs="String">
                <value>0</value>
            </setting>
        </PalmSens.Properties.Settings>
        <PalmSens.Settings>
            <setting name="CalibE" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>1.5E-6</string>
                        <string>49.0E-9</string>
                        <string>1.7E-9</string>
                        <string>0.1E-9</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CalibI" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0.033E-9f</string>
                        <string>0.360E-9f</string>
                        <string>3.6E-9f</string>
                        <string>36.0E-9f</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PalmSens.Settings>
        <Properties.Settings>
            <setting name="AuxInputTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True|Raw aux. input|No conversion 0-3V|0|1|E|Volt|V</string>
                        <string>True|Pt1000|Temperature sensor|0|1|T|Temp|°C</string>
                        <string>True|PSDEA -5 to +5V|Differential Electrometer Amplifier -5 to +5V bipolar input|0|1|E|Volt|V</string>
                        <string>True|PSDEA 0 to 10V|Differential Electrometer Amplifier 0 to +10V unipolar input|0|1|E|Volt|V</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AuxInputTypeSelected" serializeAs="String">
                <value>True|Raw aux. input|No conversion 0-3V|0|1|E|Volt|V</value>
            </setting>
        </Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
